body {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
}
.target-board .ring-1 {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  border: 2px solid;
  border-color: #909090;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.target-board .ring-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
  top: 149px;
  left: 100px;
}
.target-board .ring-2 {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border: 2px solid;
  border-color: #808080;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.target-board .ring-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
  top: 149px;
  left: 100px;
}
.target-board .ring-3 {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  border: 2px solid;
  border-color: #707070;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.target-board .ring-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
  top: 149px;
  left: 100px;
}
.target-board .ring-4 {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  border: 2px solid;
  border-color: #606060;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.target-board .ring-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
  top: 149px;
  left: 100px;
}
.target-board .ring-5 {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  border: 2px solid;
  border-color: #505050;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.target-board .ring-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
  top: 149px;
  left: 100px;
}
.target-board .ring-6 {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  border: 2px solid;
  border-color: #404040;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.target-board .ring-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
  top: 149px;
  left: 100px;
}
.target-board .ring-7 {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  border: 2px solid;
  border-color: #303030;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.target-board .ring-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
  top: 149px;
  left: 100px;
}
.target-board .ring-8 {
  content: "";
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  border-color: #202020;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.target-board .ring-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
  top: 149px;
  left: 100px;
}
.target-board .ring-9 {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  border: 2px solid;
  border-color: #101010;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.target-board .ring-1::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
  top: 149px;
  left: 100px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes orbit {
  from {
    transform: translateX(0) translateY(-130px); /* Adjust the distance from the center */
  }
  to {
    transform: translateX(0) translateY(-130px) rotate(360deg); /* Adjust the distance and rotation */
  }
}

/*# sourceMappingURL=style.css.map */
