*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.diamond-grid .item{
    height: 220px;
    width: 220px;
    background-color: #fff;
}
.diamond-grid .item img{
    width: 100%;
    display: block;
}